<h1>Simple MDE dummy app</h1>

<h2>Using change action method</h2>
{{simple-mde value=value change="showNewValue"}}
<p> New Value : </p>
{{{newValue}}}

<h2>Using mut action method</h2>
{{simple-mde value=value change=(action (mut value))}}
<p> Value : </p>
{{{value}}}
